.navbar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem;
  margin: 0.1rem;
  list-style: none;
  font-size: 1.3rem;
  background-color: rgb(249, 248, 248);
  border-radius: 0.3rem;
  z-index: 1;
}

.nav_item {
  padding-right: 0.4rem;
}

.nav_item:hover {
  cursor: pointer;
}

.new:hover {
  cursor: pointer;
}
