.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: #1e212a;
  float: left;
  padding: 1rem;
  color: white;
}

.collapse_button {
  float: right;
}

.collapse_button:hover {
  cursor: pointer;
}

.file_element {
  /* border-style: solid; */
  padding: 0.001rem 1rem;
  border-radius: 0.4rem;
  /* & .file_element--new{

  } */
}

.file_element--new {
  position: absolute;
  bottom: 1rem;
}

.file_element:hover {
  cursor: pointer;
  background-color: rgb(99, 90, 90);
}
