.nodrag {
  /* border: none; */
  text-align: center;
  resize: none;
  overflow: hidden;
  font-family: Arial;
}

.nodrag:focus {
  outline: none;
}

.node_editMenu {
  border: 1px solid rgb(140, 140, 140);
  border-radius: 0.3rem;
  width: 8rem;
  position: absolute;
  margin-top: 4rem;
  background-color: rgb(245, 243, 243);
}
