body {
  background-color: rgb(236, 236, 236);
}
.title {
  font-size: 4rem;
  padding: 5rem 5rem 0rem 5rem;
  display: flex;
  text-align: center;
}

.description {
  padding: 0rem 5rem;
  display: flex;
  text-align: center;
}
