.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.label_element {
  padding: 1rem;
}
