.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.login_form {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.login_group {
  width: 30rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.login_label {
  padding: 1rem 0;
  display: block;
  position: absolute;
  bottom: 5rem;
}

.login_input {
  height: 2.5rem;
  width: 30rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border-color: gray;
  border-style: solid;
}

.login_button {
  width: 30rem;
  height: 3rem;
  text-align: center;
  margin: 0 auto; /* set the left and right margins to auto */
  font-size: 1.5rem;
  background-color: rgba(0, 92, 183, 0.444);
  border: none;
  border-radius: 0.4rem;
}

.login_button:hover {
  cursor: pointer;
}
