.node_menu {
  border: 1px solid rgb(140, 140, 140);
  border-radius: 0.3rem;
  width: 8rem;
  /* position: absolute; */
  background-color: rgb(245, 243, 243);
}

.node_menu_color {
  background-color: rgb(245, 243, 243);
  height: 1.5rem;
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -4.4rem;
  /* width: 8.3rem; */
}

.node_body {
  z-index: -1000 !important;
}
