html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parent-div {
  display: flex;
  overflow: hidden;
}
.text-editor {
  flex: 1;
  width: 100%;
  /* border-style: solid; */
  overflow: auto;
  position: relative;
}

.canvas_editor {
  flex: 1;
  width: 100%;
  border-style: solid;
  overflow: hidden;
  position: relative;
  /* cursor: ew-resize; */
}

.text-editor:hover {
  overflow: auto;
  background-color: red;
}

.box {
  position: absolute;
  bottom: 50px;
  left: 50px;
  /* right: 50%; */
  /* transform: translateX(50%); */
  cursor: move;
  color: black;
  /* max-width: 215px; */
  /* border-radius: 5px; */
  padding: 1em;
  margin: auto;
  user-select: none;
  background-color: yellowgreen;
}

.ql-editor {
  height: 100vh;
}

.canvas {
  flex: 1;
  height: 100%;
  background-color: rgb(217, 217, 234);
  overflow: hidden;
  max-height: 700px;
}
